{% extends 'base.html' %}

{% block content %}
<h2>Available to Professors Only</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores corporis sequi minus esse hic ea voluptates dolores reprehenderit ad eligendi, fuga, eum deserunt alias tempore sunt amet consectetur eveniet necessitatibus consequuntur distinctio facilis totam ex quae ipsa explicabo. Libero nostrum id, minima recusandae eaque dolore reprehenderit perspiciatis iste vel eveniet dignissimos repudiandae illo deserunt consectetur! Libero perspiciatis unde, aut nulla ratione. Tenetur officiis in velit quo, blanditiis eos illo accusamus aperiam eligendi optio ad rem ut necessitatibus assumenda. Repellat, dolor!</p>
{% endblock %}
