{% extends 'base.html' %}

{% block title %} - Account List{% endblock %}

{% block content %}

	<h3>Course Details</h3>

	<table  class="table table-hover">
		<thead class="thead-dark">
			<tr>
			    <th scope="col">Username</th>
			    <th scope="col">User Type</th> 
			    <th scope="col">Edit </th>
		  	</tr>

			{% for item in object_list %}
		    	 
		    	 <tr>
					<td>{{ item.username }} </td>
					<td>{{ item.get_user_type }}</td>
					<td> <a class="btn btn-info" href="#" role="button">Edit</a> </td>
					
				</tr>

	   		{% empty %}
		    	<tr> 
					<td>No accounts yet </td>
					<td></td>
					<td></td>
		    	</tr>

			{% endfor %}

	</table>
{% endblock %}
