{% extends 'base.html' %}

{% block title %} - Current Phase{% endblock %}

{% block content %}


    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                <strong>{{ message|safe }}</strong>
            </div>
        {% endfor %}
    {% else %}
        {{order}}
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                <label><b>Upload File</b></label>
                <input type="file" name="file">
                <p>Only Accepts CSV Files</p>
                <button type="save" class="btn btn-primary">Upload</button>
            </form>
    {% endif %}

{% endblock %}