{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% block title %} - tempschedule List{% endblock %}

{% block content %}
<script>
	var tables = {{ jsonset|safe }};
	var simpleTable = [];
	for (item in tables){
		simpleTable[item] = tables[item].fields;
	}
	var json = [];
    for (var i = 0; i < simpleTable.length; i++) {
        var tempdata = {};
        var tempschedule = {};
        tempdata["courseName"] = simpleTable[i].title;
        tempdata["pillar"] = simpleTable[i].pillarType;
        tempdata["id"] = simpleTable[i].id;
        tempdata["eventName"] = simpleTable[i].eventName;
        tempdata["color"] = "#1976d2";
        tempdata["location"] = simpleTable[i].location;
        tempdata["professor"] = simpleTable[i].lecturer;
        tempdata["classEnrolled"] = simpleTable[i].classEnrolled;
        tempdata["calendarType"] = simpleTable[i].isEvent ? "Event" : "Academic";
        tempdata["locked"] = false;
        tempdata["suggestedBy"] = simpleTable[i].initiatedBy;
        tempdata["requestedBy"] = simpleTable[i].initiatedBy;

        tempschedule["dayOfWeek"] = simpleTable[i].dayOfWeek;
        tempschedule["times"] = simpleTable[i].start_time;
        tempschedule["duration"] = simpleTable[i].eventDuration;
        tempschedule["durationType"] = "minutes";

		var pair = {
			data : tempdata,
			schedule: tempschedule,
		}
        json[i] = pair;
        
    }

</script>
<div id="app">
</div>
{% endblock %}
