{% extends 'base.html' %}

{% block title %} - Course Details{% endblock %}



{% block content %}

	<h3>Course Details</h3>

	<table  class="table table-hover">
		<thead class="thead-dark">
			<tr>
			    <th scope="col">Name</th>
			    <th scope="col">Subject</th> 
			    <th scope="col">Cohort Size x No. of Cohorts</th>
			    <th scope="col">Edit </th>
		  	</tr>

			{% for item in object_list %}
		    	 
		    	 <tr>
					<td>{{ item.first_name }} {{ item.last_name }} </td>
					<td>{{ item.subject_code }} {{ item.subject_name }}</td>
					<td>{{ item.cohort_size }} x {{ item.cohort_num }}</td>
					<td> <a class="btn btn-info" href="{% url 'professors:editdetails' item.id %}" role="button">Edit</a> </td>
					
				</tr>

	   	{% empty %}
	    	<tr> 
				<td>No course details yet </td>
				<td></td>
				<td></td>
	    	</tr>

		{% endfor %}

	</table>
{% endblock %}
