certifi>=2019.3.9
cffi>=1.12.3
chardet>=3.0.4
Click>=7.0
Django>=2.2
django-brutebuster2>=0.2.0
django-cors-headers>=2.5.2
django-crispy-forms>=1.7.2
django-ical>=1.5
django-webpack-loader>=0.6.0
djangorestframework>=3.9.2
Flask>=1.0.2
gevent>=1.4.0
greenlet>=0.4.15
icalendar>=4.0.3
idna>=2.8
itsdangerous>=1.1.0
Jinja2>=2.10.1
locustio>=0.11.0
MarkupSafe>=1.1.1
msgpack>=0.6.1
pycparser>=2.19
python-dateutil>=2.8.0
pytz>=2018.9
pyzmq>=18.0.1
requests>=2.21.0
selenium>=3.141.0
six>=1.12.0
sqlparse>=0.3.0
urllib3>=1.24.1
Werkzeug>=0.15.2