{% extends 'base.html' %}

{% block title %} - Sign Up {% endblock %}

{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'professor_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a professor</a>
  <a href="{% url 'student_signup' %}" class="btn btn-student btn-lg" role="button">I'm a student</a>
  <a href="{% url 'coordinator_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm a coordinator</a>
  <a href="{% url 'planner_signup' %}" class="btn btn-student btn-lg" role="button">I'm a planner</a>
  <a href="{% url 'sutdadmin_signup' %}" class="btn btn-teacher btn-lg" role="button">I'm an SUTD Admin</a>
  
  
{% endblock %}
