{% extends 'base.html' %}

{% block title %} - Schedule List{% endblock %}

{% block content %}

<script> 
var object_list = {{ object_list|safe }}; 
</script>

<h3>Schedule List</h3>
<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
			    <th scope="col">Title</th>
			    <th scope="col">Description</th> 
			    <th scope="col">Time (Start to End)</th>
			    <th scope="col">Lecturer</th>
			    <th scope="col">Location </th>
		  	</tr>

			{% for item in object_list %}
		    	 
		    	 <tr>
					<td>{{ item.title }} </td>
					<td>{{ item.description }}</td>
					<td>{{ item.start_time }} to {{ item.end_time }}</td>
					<td>{{ item.lecturer }} </td>
					<td>{{ item.location }}</td>
					
				</tr>

	   	{% empty %}
	    	<tr> 
				<td>No schedules yet </td>
				<td></td>
				<td></td>
	    	</tr>

		{% endfor %}

	</table>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% verbatim  %}

<div id='list-schedule-items'></div>

<script type='text/javascript'>
Vue.component('show-schedules', {
  data: function () {
	  scheduleItems : object_list
  },
  template: '
  	<li v-for="item in data">
		<ul>{{ item.title }} 
		{{ item.description }}
		{{ item.start_time }}
		{{ item.end_time }}
		{{ item.lecturer }} 
		{{ item.location }}</ul>
	</li>
   '
})
new Vue({
	el: '#list-schedule-items',
})
</script>
{% endverbatim  %}
{% endblock %}