{% extends 'base.html' %}

{% block title %} - Schedule List{% endblock %}

{% block content %}

<script>
	var tables = {{ serialized|safe }};
</script>

	<h3>Schedule List</h3>
	<table class="table table-hover">
		<thead class="thead-dark">
			<tr>
			    <th scope="col">Title</th>
			    <th scope="col">Description</th> 
			    <th scope="col">Time (Start to End)</th>
			    <th scope="col">Lecturer</th>
			    <th scope="col">Location </th>
		  	</tr>
			{% verbatim %}
			{% endverbatim %}
			{% comment %} {% for item in object_list %}
		    	 
		    	 <tr>
					<td>{{ item.title }} </td>
					<td>{{ item.description }}</td>
					<td>{{ item.start_time }} to {{ item.end_time }}</td>
					<td>{{ item.lecturer }} </td>
					<td>{{ item.location }}</td>
					
				</tr> 

	   	{% empty %}
	    	<tr> 
				<td>No schedules yet </td>
				<td></td>
				<td></td>
	    	</tr>

		{% endfor %}{% endcomment %}

	</table>

{% verbatim %}
<script type='text/javascript'>
Vue.component('show-schedules', {
  props: ['{object_list}'],
  template: ''
})

new Vue({
	el: '#list-schedule-items',
	data: { this.tables }
})
</script>
{% endverbatim %}


{% endblock %}
