
<ul class="navbar-nav mr-auto">

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      After First Draft
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'schedule:list' %}">View First Draft</a>
      <a class="dropdown-item" href="#">Deconflict Suggestions</a>
<!--       <a class="dropdown-item" href="#">Empty</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a> -->
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Finalisation
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'schedule:list' %}">View Calendar</a>
      <a class="dropdown-item" href="{% url 'icsconvert' %}">Export Calendar</a>
<!--       <div class="dropdown-divider"></div> -->
    </div>
  </li>
</ul>
      