
<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Before First Draft
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'planners:exportcsv' %}">Export CSV</a>
      <a class="dropdown-item" href="{% url 'planners:downloadsample' %}">Download Sample  for First Draft</a>
      <a class="dropdown-item" href="{% url 'planners:uploaddata' %}">Upload First Draft</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'planners:currentphase' %}">Current Phase</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      After First Draft
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="{% url 'schedule:list' %}">View First Draft</a>
      <a class="dropdown-item" href="#">Accept Suggestions</a>
      <a class="dropdown-item" href="#">Finalise Calendar</a>
      <!-- <div class="dropdown-divider"></div> -->
    </div>
  </li>

  <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Finalisation
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'schedule:list' %}">View Calendar</a>
          <a class="dropdown-item" href="{% url 'icsconvert' %}">Export Calendar</a>
          <a class="dropdown-item" href="{% url 'schedule:addschedule' %}">Modify Calendar</a>
        </div>
  </li>

</ul>
      