{% extends 'base.html' %}

{% block title %} - Bookings{% endblock %}

{% block content %}


	<h3>Event Bookings</h3>
	<!-- ['event_Name', 'lecturer', 'description', 'date', 'start_Time', 'event_Duration', 'location'] -->
		
	<table  class="table table-hover">
		<thead class="thead-dark">
			<tr>
			    <th scope="col">Event Name</th>
			    <th scope="col">Lecturer</th> 
			    <th scope="col">Date</th>
			    <th scope="col">Start Time</th>
			    <th scope="col">Duration</th>
			    <!-- <th scope="col">Location</th> -->
			    <th scope="col">Edit</th>
		  	</tr>	
			
		{% for item in object_list %}    	 
		<tr>
			<td>{{ item.event_Name }}</td>
			<td>{{ item.lecturer }}</td>
			<td>{{ item.date }}</td>
			<td>{{ item.start_Time }}</td>
			<td>{{ item.event_Duration }}</td>
			<!-- <td>{{ item.location }}</td> -->
			<td> <a class="btn btn-info" href="{% url 'sutdadmin:editbooking' item.id %}" role="button">Edit</a>
				<a class="btn btn-danger" href="{% url 'sutdadmin:deletebooking' item.id %}" role="button">Delete</a></td>
		</tr>
	   	{% empty %}
		   <tr> 
		   <td>No events yet </td>
		   <td></td>
		   <td></td>
	    	</tr>

		{% endfor %}

{% endblock %}
